@page
@model WebApp.Pages.Users.GridModel
@{
}

<div class="container-fluid">


    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Usuarios</h5>
        </div>
        <div class="card-body">


            <a class="btn btn-primary" asp-page="Edit">
                <i class='bx bx-add-to-queue'></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <div class="table-responsive text-nowrap">
                        <table id="GridView" class="table table-hover table table-bordered">
                            <thead>
                                <tr>
                                    <th>Acción</th>

                                    <th>Cedula</th>
                                    <th>Nombre</th>
                                    <th>Primer Apellido</th>
                                    <th>Segundo Apellido</th>
                                    <th>Usuario</th>
                                    
                                    <th>Rol</th>


                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var item in Model.GridList)
                                {
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.IdUsuario">
                                                <i class='bx bx-edit-alt'></i>
                                            </a>
                                            <button type="button" class="btn btn-danger" onclick="UserGrid.OnclickEliminar(@item.IdUsuario, @item.Cedula)">
                                                <i class='bx bxs-trash'></i>
                                            </button>
                                        </td>

                                        <td>@item.Cedula</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.Primer_Apellido</td>
                                        <td>@item.Segundo_Apellido</td>
                                        <td>@item.Nombre_Usuario</td>
                                        
                                        <td>@item.Roles.Rol</td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var MensajeApp="@Html.Raw(Model.Mensaje)";
    </script>
    <script defer src="~/App/User/Grid.js"></script>



    
}